html {
  font-size: 10px;
  font-family: 'Montserrat', serif;
  background: linear-gradient(blue, pink);
}

body {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  background-color: white;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

p, label {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
